[Unit]
Description=agent
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/agent -config.file=/home/ubuntu/agent-config.yaml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
