[Unit]
Description=agent
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/agent -config.file=/home/pi/agent-config.yaml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
